@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
/* For Webkit-based browsers (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* gray-100 */
}

::-webkit-scrollbar-thumb {
  background-color: #b5b8b5; /* A softer green, derived from the main theme */
  border-radius: 10px;
  border: 2px solid #f3f4f6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b3b3b; /* The main dark green from the theme */
}
